@use 'nav';
@use 'footer';
@use 'form';
@use 'cart';
@use 'button';
@use 'mixin';
@import 'include-media';

.main {
  margin: 0 1rem;
  outline: 1px solid red;
  @include media('>=small') {
    margin: 0 2rem;
  }
  @include media('>=large') {
    margin: 0 3rem;
  }
  @include media('>=extra-large') {
    margin: 0 4rem;
  }
  @include media('>=desktop') {
    margin: 0 auto;
    max-width: calc(1440px - 165px - 165px);
  }

  &__title {
    display: none;
    @include media('>=large') {
      display: block;
      @include mixin.fontStyles(2rem, 700, 2.375rem, var(--font-color1));
    }
  }
}
