@use 'nav';
@use 'footer';
@use 'cart';
@import 'include-media';

.main {
  margin: 0 1rem;
  outline: 1px solid red;

  @include media('>=large') {
    margin: 0 3rem;
  }
  @include media('>=extra-large') {
    margin: 0 4rem;
  }
  @include media('>=desktop') {
    margin: 0 auto;
    max-width: calc(1440px - 165px - 165px);
  }
}
